.App {
  text-align: center;
}


.light {
  margin-top: 1em;
  background-color: orangered;
}

.dark {
  margin-top: 1em;
  background-color: #293d50;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: auto;
  max-width: 100%;
  width: 50%;
}

.card:first-of-type {
  margin-top: 2em;
}

.active {
  background-color: #293d50;
}
body {
    font-family: 'Fira Code';
    background: #d0d0d0;
    margin: 0;
    margin-top: 2%;
    font-size: 1em;
}

.row {
    width: 960px;
}

.slides {
    margin: 0 auto;
    width: 720px;
    height: 540px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    display: grid;
    place-items: center;
    text-align: center;
    transition: all 500ms ease-out;
}

.slide p {
    position: absolute;
    bottom: 0;
    left: 0%;
    text-transform: uppercase;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 2em;
    color: #272d84;
    width: 200px;
    font-size: 22px;
    transition: all 600ms ease-in;
    animation: slideInPlace 700ms ease-in;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.buttons {
    position: absolute;
    padding: 1em;
    top: calc(100% - 5em);
    left: calc(50% - 104.5px);
}

button {
    border: none;
    padding: 1em;
    width: 100px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
}


.activeSlider {
    opacity: 1;
    transform: translateX(0);
}

.nextSlider {
    opacity: 0;
    transform: translateX(-100%);
}

.lastSlider {
    opacity: 0;
    transform: translateX(100%);
}


@keyframes slideInPlace {
    from {
        opacity: 0;
        transform: translateY(-100%) skew(15deg);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
